<h1>Test: <%= @test.title %></h1>
<h2>Question list</h2>

<ul>
  <% @questions.each do |question| %>
    <li>
      <tr>
        <td><%= question.body %></td>
        <td><%= link_to 'Show', test_question_path(@test, question) %></td>
      </tr>
    </li>
  <% end %>
<ul>
