<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to t('.tests'), admin_tests_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to t('.gists'), admin_gists_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to t('.badges'), admin_badges_path, class: 'nav-link' %>
  </li>
