<h1><%= t('.title', title: @test_passage.test.title) %></h1>

<div class="test-passage test-passage--<% if @test_passage.success? %>success<% else %>failure<% end %>">
  <p class="test-passage__result"><%= @test_passage.result %>%</p>
  <p class="test-passage_message">
    <% if @test_passage.success? %>
      <%= t('.success') %>
    <% else %>
      <%= t('.failure') %>
    <% end %>
  </p>
</div>
