<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
      <%= t('.header', count: resource.errors.count) %>:
    </h4>
    <hr>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
