<footer class="page-footer">
  <div class="container">
    <div class="col-xs-3">
      ©<%= current_year %>
    </div>
    <div class="col-xs-9">

      <p>Автор: <%= github_url(:orevenat)%></p>
      <p>Проект: <%= github_url(:orevenat, :TestGuru)%></p>
      <a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
    </div>
  </div>
</footer>
