<nav class="nav">
  <ul>
    <li>
      <%= link_to 'Tests list', tests_path %>
    </li>
    <% if logged_in? %>
      <li>
        <p>Welcome, <b><%= current_user.email %></b> Guru</p>
      </li>
    <% end %>
  </ul>
</nav>
